pyyaml
frozendict
PSNAWP
pytest
aiofiles
discord-py-interactions
sqlitedict
aiohttp
aioftp
ps4debug==0.1.6
lbptoolspy
aiogoogle
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pycryptodome
anyio
aioshutil
async-lru
ujson
humanize
rapidfuzz
