pyyaml
frozendict
PSNAWP
pytest
aiofiles
discord-py-interactions
sqlitedict
aiohttp
aioftp
ps4debug
lbptoolspy
aiogoogle
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pycryptodome
aiopath
aioshutil